@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");

.Home {
  width: 100%;
  height: auto;
  background-color: #fff;
  position: relative;
}

h2 {
  font-size: 1.6rem;
}
.home__title {
  width: 100%;
  height: 3.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home__tittle {
  width: 72%;
  font-size: 23px;
  color: #581ee0;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: .6rem;
}
.fa-feather {
  font-size: 30px;
}
.home__title--options {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-left: 4rem;
  border-radius: 0 0 0 1.5rem;
}
.home__title--options div {
  display: flex;
  gap: 0.5rem;
}
.home__title--options div > i {
  font-size: 17px;
  color: #5c5c5f;
}
.home__options {
  width: 100%;
  height: 5.1rem;
  display: flex;
  align-items: center;
  gap: 1.75rem;
  padding-left: 7.3rem;
}
.home__options .home__options--conter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  height: 5rem;
  cursor: pointer;
}
.home__options--conter:hover {
  color: #5738ef;
}

.home__options--icons {
  width: 2.2rem;
  height: 2.2rem;
  background-color: #ebe7f662;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #0b032f;
}
.home__options--conter:hover .home__options--icons {
  background-color: #2d0cd3f5;
  color: #fff;
  transition: 0.4s;
}
#text__icon {
  width: 4rem;
  display: flex;
  gap: 0.2rem;
  text-align: center;
}
.home__options--icon {
  font-size: 17px;
}

.home__card {
  width: 100%;
  height: 15.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0, #a780ff 0%, #8554f7 100%);
}
.home__card--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 13rem;
  padding: 0.8rem 2rem 0.8rem 0.8rem;
  background-color: #270570;
  border-radius: 15px;
}

.title_card2 {
  color: #363434b2;
}
.home__card--selection {
  background-color: #dddada00;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.6rem;
}

.vuelo_style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 20rem;
  height: 2.1rem;
  border-radius: 12px;
  color: #fff;
}
.vuelo_style h2 {
  padding-right: 1rem;
}
.vuelo_style input,
.vuelo_style label {
  cursor: pointer;
}
.home__card--selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  gap: 0.8rem;
}

.selection__pais,
.selection__fecha,
.selection__personas {
  width: 12rem;
  height: 3.8rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #00000059;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
}
.selection__fecha {
  width: 8.5rem;
}
.selection__personas {
  width: 11rem;
}
.home__card--destino {
  display: flex;
}
.selection:hover {
  cursor: pointer;
  background-color: #1f046b;
  color: #fff;
}
#pais_org,
#fecha_sali {
  border-radius: 8px 0 0 8px;
}
#pais_dest,
#fecha_reg {
  border-radius: 0 8px 8px 0;
}
.home__card--fechas {
  display: flex;
}

.home__btn--submit {
  display: flex;
  justify-content: center;
}
.btn_vuelo {
  display: flex;
  width: 7.5rem;
  height: 3.1rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ffffff;
  transition: 0.9s;
}
.fa-check {
  font-size: 1.6rem;
}
.btn_vuelo:hover {
  cursor: pointer;
  background-color: #1b035d;
  color: #fff;
  outline: 1px solid #573fcef5;
}
.cantidad__personas {
  display: flex;
  gap: 1.8rem;
}
.cantidad__personas > p {
  font-size: 16px;
  font-weight: bold;
}
.fa-user,
.fa-child,
.fa-baby-carriage {
  font-size: 13px;
  color: #6b56a6;
}


