@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");

.confirmacion_vuelos {
  padding: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #eeeeee;
}

.configuracionVuelos_container {
  width: 70%;
  position: relative;
}

.title_vuelo {
  display: flex;
  flex-direction: row;
  gap: 29rem;
  line-height: 10px;
  margin-bottom: 40px;
}

.btn_cambiarVuelo {
  width: 10rem;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 17px;
  border: 1.3px solid #c6c4c6;
  color: rgb(56, 5, 173);
  position: absolute;
  z-index: 20;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}
#btn__abajo2 {
  position: absolute;
  top: 55rem;
}
#btn__abajo1 {
  position: absolute;
  top: 50%;
}
.title_datos {
  margin-bottom: 20px;
}
.info_vuelo {
  display: flex;
  flex-direction: row;
  background-color: white;
  gap: 3rem;
  width: 100%;
  height: 8rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 20px;
  border: 1px solid #472c4731;
}
.maleta1 {
  display: flex;
  flex-direction: column;
  border: 1px solid #d4d2dd;
  height: 60%;
  width: 14%;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
.maleta2 {
  display: flex;
  flex-direction: column;
  border: 1px solid #d4d2dd;
  height: 60%;
  width: 14%;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
.maleta3 {
  display: flex;
  flex-direction: column;
  border: 1px solid #d4d2dd;
  height: 60%;
  width: 14%;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
.maleta1:hover {
  color: white;
  background-color: #4925ec;
}
.maleta2:hover {
  color: white;
  background-color: #4925ec;
}
.maleta3:hover {
  color: white;
  background-color: #4925ec;
}

.info__reservacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.info__reservacion--container1 {
  width: 100%;
  position: relative;
  z-index: 1;
}
.info__reservacion--container1 .info__div {
  background-color: white;
  position: relative;
  z-index: 1;
  border-radius: 15px;
}
.info__reservacion--container1 > p {
  font-size: 22px;
  font-weight: bolder;
  padding-bottom: 10px;
}
.info__pasajeros {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-size: 12px;
  position: relative;
  z-index: 10;
}
.info__pasajeros > .text__pasajeros {
  font-weight: bold;
  font-size: 15px;
}
.info__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info__div--date .p {
  text-align: center;
  background-color: #4925ec;
  padding: 2px 0;
  width: 100%;
  color: #fff;
}
.info__div--date {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info__div--date .info__div--text {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.info__salida {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.info__salida p {
  font-size: 25px;
  font-weight: bold;
}
.info__hora {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.fecha__text {
  font-size: 12px;
  font-weight: bold;
}

.title_fechasVuelo {
  font-size: 1.3rem;
  margin-bottom: 1px;
  font-weight: 1px bolder;
}
.title_paisVuelo {
  margin-bottom: 20px;
  color: rgb(116, 116, 116);
}
.title_horariosVuelo {
  font-weight: bolder;
}
.number_vuelo {
  font-size: 1.2rem;
  font-weight: bolder;
}
.title_costoVuelo {
  margin-top: 25px;
  font-size: 22px;
}
.card_costoVuelo {
  width: 18vw;
  height: 30vh;
  margin-top: 10px;
  padding-left: 15px;
  background-color: white;
  line-height: 3rem;
  border-radius: 15px;
}
.tarifa_base {
  display: flex;
  gap: 5rem;
  padding-top: 1.5rem;
  font-size: 13px;
}
.costo_equipaje {
  display: flex;
  gap: 2.7rem;
  font-size: 13px;
}
.costo_total {
  display: flex;
  gap: 7.5rem;
  font-weight: bolder;
  font-size: 13px;
}
.btn_seleccionarAsientos {
  width: 18vw;
  height: 7vh;
  margin-top: 1rem;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: #4925ec;
  font-weight: bolder;
  cursor: pointer;
}
.btn-success {
  width: fit-content;
  height: 2.3rem;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
